
.recipe-container {
    width: 40vw;
    height: 300px;
    background-color: rgb(135, 224, 185);
    margin: 10px;
    border: #282c34 2px;
  }

  .recipe-ingredient {
    padding: 10px;
  }
  
  .recipe-name {
    font-weight: 700;
    padding: 10px;
  }